footer.footer
    .footer__logo
        img(src='/img/logo-green.png',alt='Natours logo')
    ul.footer__nav 
        li: a(href='https://github.com/sousa-miguel',target='_blank') About us
        li: a(href='#') Download apps
        li: a(href='#') Become a guide
        li: a(href='#') Careers
        li: a(href='https://github.com/sousa-miguel/natours-v2',target='_blank') Contacts